<app-profileheader></app-profileheader>
<div class="content-sec profile-boxsec">
  <div class="container">
    <div class="profile-tab">
      <div class="tern-title prosettings">
        <h4
          [class]="profile ? 'active' : ''"
          routerLinkActive
          routerLink="/accounts/profile"
        >
          <img
            src="../../../assets/images/profile-icon.webp"
            class="proicons"
          />
          <span class="protitcon">Profile</span> <span class="bluecirc"></span>
        </h4>
        <h4
          [class]="settings ? 'active' : ''"
          routerLinkActive
          routerLink="/accounts/settings"
          id="Settings"
        >
          <img
            src="../../../assets/images/profile-settings.webp"
            class="proicons"
          />
          <span class="protitcon">Settings</span> <span class="bluecirc"></span>
        </h4>
        <h4
          [class]="wallet ? 'active' : ''"
          routerLinkActive
          routerLink="/accounts/wallet"
          id="Wallet"
        >
          <img src="../../../assets/images/wallet-mob.webp" class="proicons" />
          <span class="protitcon">Wallet</span> <span class="bluecirc"></span>
        </h4>
        <h4
          [class]="messages ? 'active' : ''"
          routerLinkActive
          routerLink="/accounts/messages"
          id="Messages"
        >
          <img
            src="../../../assets/images/profile-message.webp"
            class="proicons"
          />
          <span class="protitcon">Messages</span> <span class="bluecirc"></span>
        </h4>
        <h4
          [class]="change_pwd ? 'active' : ''"
          routerLinkActive
          routerLink="/accounts/changepassword"
          id="changepassword"
        >
          <img
            src="../../../assets/images/change-password.webp"
            class="proicons"
          />
          <span class="protitcon">Change Password</span>
          <span class="bluecirc"></span>
        </h4>
      </div>
    </div>
    <div class="wallet-content animated fadeIn mb-5 pb-5" id="wallet">
      <div class="text-center grayscale" *ngIf="isLoading">
        <svg width="40" height="40" viewBox="0 0 300 300" class="loadersvg">
          <defs>
            <linearGradient
              id="gradient-fill"
              gradientUnits="userSpaceOnUse"
              x1="0"
              y1="300"
              x2="300"
              y2="0"
            >
              <stop offset="0%">
                <animate
                  attributeName="stop-color"
                  values="#00E06B;#CB0255;#00E06B"
                  dur="5s"
                  repeatCount="indefinite"
                />
              </stop>
              <stop offset="100%">
                <animate
                  attributeName="stop-color"
                  values="#04AFC8;#8904C5;#04AFC8"
                  dur="8s"
                  repeatCount="indefinite"
                />
              </stop>
            </linearGradient>
            <clipPath id="clip">
              <rect
                class="square s1"
                x="0"
                y="0"
                rx="12"
                ry="12"
                height="90"
                width="90"
              ></rect>
              <rect
                class="square s2"
                x="100"
                y="0"
                rx="12"
                ry="12"
                height="90"
                width="90"
              ></rect>
              <rect
                class="square s3"
                x="200"
                y="0"
                rx="12"
                ry="12"
                height="90"
                width="90"
              ></rect>
              <rect
                class="square s4"
                x="0"
                y="100"
                rx="12"
                ry="12"
                height="90"
                width="90"
              ></rect>
              <rect
                class="square s5"
                x="200"
                y="100"
                rx="12"
                ry="12"
                height="90"
                width="90"
              ></rect>
              <rect
                class="square s6"
                x="0"
                y="200"
                rx="12"
                ry="12"
                height="90"
                width="90"
              ></rect>
              <rect
                class="square s7"
                x="100"
                y="200"
                rx="12"
                ry="12"
                height="90"
                width="90"
              ></rect>
            </clipPath>
          </defs>
          <rect
            class="gradient"
            clip-path="url('#clip')"
            height="300"
            width="300"
          ></rect>
        </svg>
      </div>
      <div *ngIf="!isLoading">
        <div class="content-sec feedbacksec pt-0">
          <div class="container">
            <div class="feedfrmbox">
              <div class="row">
                <div class="col-md-5 gray pt-4 px-4">
                  <h3 class="mb-3">
                    <img
                      src="../../../assets/images/wallet.webp"
                      width="30"
                      class="float-left mr-3 mt-0"
                    />
                    My Wallet
                  </h3>
                  <small class="small d-block w-100 my-3"
                    ><strong>Note :</strong> Minimum amount
                    {{ base_currency_symbol
                    }}{{ base_currency_minimum_amount_withdraw }} should be in
                    your wallet in order to check your request money</small
                  >
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <mat-card>
                        <p class="mb-0">
                          My Base Currency :
                          <span class="tern-bold currytxt text text-primary">{{
                            base_currency_code
                          }}</span>
                          <button
                            mat-button
                            class="btn btn-outline-primary float-right btnsm ftsearchbtn"
                            matTooltip="Edit Currency"
                            (click)="editcurrency = !editcurrency"
                          >
                            <i class="fas fa-pencil-alt"></i>
                          </button>
                        </p>

                        <mat-form-field
                          class="w-100 mt-3"
                          *ngIf="editcurrency && currencyList.length > 0"
                        >
                          <mat-label>My Base Currency </mat-label>
                          <mat-select [formControl]="base_currency">
                            <mat-option
                              *ngFor="let currency of currencyList"
                              [value]="currency.id"
                              >{{ currency.code }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>
                      </mat-card>
                    </div>

                    <div class="col-md-6 mb-3 text-center">
                      <mat-card class="balnceprice">
                        <p>Pending Balance</p>
                        <h5 class="tern-bold balpric text text-dark">
                          <span class="smalltxt">{{
                            base_currency_symbol
                          }}</span
                          >{{ pending_balance }}
                        </h5>
                      </mat-card>
                    </div>
                    <div class="col-md-6 mb-3 text-center">
                      <mat-card class="balnceprice">
                        <p>Available Balance</p>
                        <h5 class="tern-bold balpric">
                          <span class="smalltxt">{{
                            base_currency_symbol
                          }}</span
                          >{{ available_balance }}
                        </h5>
                        <button
                          *ngIf="
                            available_balance >=
                            base_currency_minimum_amount_withdraw
                          "
                          mat-button
                          class="btn btn-outline-success btnsm "
                          (click)="sendPayoutRequest()"
                        >
                          Request Money
                        </button>
                      </mat-card>
                    </div>
                  </div>

                  <h6 class="mt-3 tern-bold">
                    Account Details
                    <button
                      mat-button
                      class="btn btn-outline-primary float-right btnsm ftsearchbtn"
                      matTooltip="Add Account Details"
                      (click)="addAccountDetails()"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </h6>
                  <small class="small d-block w-100 my-3"
                    ><strong>Note :</strong> Maximum five accounts can be
                    created.</small
                  >
                  <mat-accordion
                    class="mt-3 w-100 d-block"
                    *ngFor="let account of bankAccountDetails; let i = index"
                  >
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <button
                            mat-button
                            class="btn btn-outline-primary float-right btnsm ftsearchbtn"
                            matTooltip="Edit Account Details"
                            (click)="openAccountDetails(i, $event)"
                          >
                            <i class="fas fa-pencil-alt"></i>
                          </button>
                          <button
                            mat-button
                            class="btn btn-outline-danger float-right btnsm ftsearchbtn"
                            matTooltip="Delete Account Details"
                            (click)="deleteBankAccoutDetails(i, $event)"
                          >
                            <i class="fas fa-trash"></i>
                          </button>
                          <strong> {{ account.bank_name }}</strong>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <table class="table text-sm">
                        <tr>
                          <td width="140">Receipient Name</td>
                          <td class="tern-bold">
                            {{ account.account_holder_name }}
                          </td>
                        </tr>
                        <tr>
                          <td>Account Number</td>
                          <td class="tern-bold">{{ account.account_no }}</td>
                        </tr>
                        <tr>
                          <td>Bank Name</td>
                          <td class="tern-bold">{{ account.bank_name }}</td>
                        </tr>
                        <tr>
                          <td>IFSC Code</td>
                          <td class="tern-bold">{{ account.ifsc_code }}</td>
                        </tr>
                        <tr>
                          <td>Bank Address</td>
                          <td class="tern-bold">{{ account.bank_address }}</td>
                        </tr>
                      </table>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <span class="line-foot mt-5"></span>
                  <img
                    src="../../../assets/images/wallet-bg.webp"
                    class="w-100 mt-0"
                  />
                </div>
                <div class="col-md-7 frmcls">
                  <h5>
                    Transactions
                    <button
                      mat-button
                      class="btn btn-outline-primary float-right btnsm ftsearchbtn"
                      matTooltip="Filter Transactions"
                      (click)="
                        ftsearch = !ftsearch;
                        !ftsearch ? transcationForm.reset() : null
                      "
                    >
                      <i class="fas fa-search"></i>
                    </button>
                  </h5>
                  <div
                    class="ftsearch"
                    *ngIf="ftsearch"
                    [formGroup]="transcationForm"
                  >
                    <div class="row">
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <mat-label>Select Status</mat-label>
                          <mat-select
                            value="all"
                            formControlName="payment_status"
                          >
                            <mat-option value="all">All</mat-option>
                            <mat-option value="success">Success</mat-option>
                            <mat-option value="pending">Pending</mat-option>
                            <mat-option value="withdraw">Withdraw</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <mat-label>Select Currency</mat-label>
                          <mat-select
                            value="all"
                            formControlName="currency_id"
                            *ngIf="currencyList.length > 0"
                          >
                            <mat-option value="all">All</mat-option>
                            <mat-option
                              *ngFor="let currency of currencyList"
                              [value]="currency.id"
                              >{{ currency.code }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input
                            matInput
                            readonly
                            [matDatepicker]="picker"
                            placeholder="From Date "
                            formControlName="from_date"
                          />
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input
                            matInput
                            readonly
                            [matDatepicker]="picker1"
                            placeholder="To Date "
                            formControlName="to_date"
                          />
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker1"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <div class="translist">
                    <h5
                      *ngIf="!user_transaction_details.length"
                      style="text-align: center;padding: 30px"
                    >
                      Sorry No Transactions Found!
                    </h5>
                    <ul
                      class="list-unstyled"
                      *ngFor="let transaction of user_transaction_details"
                    >
                      <li *ngIf="transaction.amount_type == 'credited'">
                        <div class="row">
                          <div class="col-md-9">
                            <h6>
                              <i
                                *ngIf="transaction.status == 'success'"
                                class="far fa-plus-square iicon text-success"
                              ></i>
                              <i
                                *ngIf="transaction.status == 'withdraw'"
                                class="fab fa-rev iicon text-success"
                              ></i>
                              <span class="small">From :</span
                              ><span
                                class="tern-bold "
                                *ngIf="transaction.status == 'success'"
                              >
                                {{ transaction.requester_details.name }}</span
                              ><span
                                class="tern-bold "
                                *ngIf="transaction.status == 'withdraw'"
                              >
                                {{ transaction.trip_user_details.name }}</span
                              >
                              <span
                                class="small"
                                *ngIf="transaction.status == 'success'"
                              >
                                |
                                {{
                                  transaction.created_at | date: "dd-MMM-yyyy"
                                }}
                                :
                                {{
                                  transaction.created_at | date: "HH:mm aa"
                                }}</span
                              >
                              <span
                                class="small"
                                *ngIf="transaction.status == 'withdraw'"
                              >
                                |
                                {{
                                  transaction.refund_date | date: "dd-MMM-yyyy"
                                }}
                                :
                                {{
                                  transaction.refund_date | date: "HH:mm aa"
                                }}</span
                              >
                            </h6>
                            <p>
                              {{ transaction.trip_details.departure }} to
                              {{ transaction.trip_details.destination }}
                            </p>
                          </div>
                          <div class="col-md-3 text-right">
                            <span
                              class="tern-bold text-success"
                              *ngIf="transaction.status == 'success'"
                              >{{ transaction.currency.symbol
                              }}{{ transaction.converted_payment }}</span
                            >
                            <span
                              class="tern-bold text-success"
                              *ngIf="transaction.status == 'withdraw'"
                              >{{ transaction.converted_currency.symbol
                              }}{{
                                transaction.refund_amount
                              }}</span
                            >
                            <p class="text-muted">
                              {{ transaction.requestor_type }}
                            </p>
                          </div>
                        </div>
                      </li>
                      <li *ngIf="transaction.amount_type == 'debited'">
                        <div class="row">
                          <div class="col-md-9">
                            <h6>
                              <i
                                *ngIf="transaction.status == 'success'"
                                class="far fa-minus-square iicon text-danger"
                              ></i>
                              <i
                                *ngIf="transaction.status == 'withdraw'"
                                class="fab fa-rev iicon text-danger"
                              ></i>
                              <span class="small">To :</span
                              ><span
                                *ngIf="transaction.status == 'success'"
                                class="tern-bold "
                              >
                                {{ transaction.trip_user_details.name }}</span
                              >
                              <span
                                *ngIf="transaction.status == 'withdraw'"
                                class="tern-bold "
                              >
                                {{ transaction.requester_details.name }}</span
                              >
                              <span
                                class="small"
                                *ngIf="transaction.status == 'success'"
                              >
                                {{
                                  transaction.created_at | date: "dd-MMM-yyyy"
                                }}
                                :
                                {{
                                  transaction.created_at | date: "HH:mm aa"
                                }}</span
                              >
                              <span
                                class="small"
                                *ngIf="transaction.status == 'withdraw'"
                              >
                                {{
                                  transaction.refund_date | date: "dd-MMM-yyyy"
                                }}
                                :
                                {{
                                  transaction.refund_date | date: "HH:mm aa"
                                }}</span
                              >
                            </h6>
                            <p>
                              {{ transaction.trip_details.departure }} to
                              {{ transaction.trip_details.destination }}
                            </p>
                          </div>
                          <div class="col-md-3 text-right">
                            <span
                              class="tern-bold text-danger"
                              *ngIf="transaction.status == 'success'"
                              >{{ transaction.converted_currency.symbol
                              }}{{ transaction.total_payment }}</span
                            >
                            <span
                              class="tern-bold text-danger"
                              *ngIf="transaction.status == 'withdraw'"
                              >{{ transaction.currency.symbol
                              }}{{ transaction.converted_payment }}</span
                            >
                            <p class="text-muted">
                              {{ transaction.requestor_type }}
                            </p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class=" d-block w-100 city_bg_allpage"></div>
