<div class="container">
    <div class="float-right">
        <button class="close-btn" mat-dialog-close><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
  <h4 class="text-center text-uppercase mb-3">
  Please enter OTP received for your<span class="tern-bold"> Package</span><br />   </h4>
  
  <div class="text-center">
    <img src="../../../assets/images/email-code-verifi.png" width="125"  class="mb-5" />
      
    <form class="verification-form" [formGroup]="_otpform" #formDirective="ngForm" (ngSubmit)="verifyReceiverOTP()">
    <div class="popfrm pl-3 pr-3">    
    <mat-form-field class="">
      <input matInput placeholder="Enter OTP" formControlName="receiver_otp">
    </mat-form-field>
    <button mat-button type="submit" class="btn btn-primary tern-bold text-uppercase">Verify</button>
  </div>
  </form>
  </div>
  </div>