<div class="header-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg"> <a class="navbar-brand" href="#"><img src="../../assets/images/logo.webp" height="75" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
        <ul class="navbar-nav ml-auto mr-0 mt-0 wologin">
          <li class="nav-item"><a href="javascript:void(0);" class="btn btn-outline-light mr-2">Signup</a></li>
          <li class="nav-item"><a href="javascript:void(0);" id="login" class="btn btn-outline-light">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
  
<div class="signandlogin">
  <div class="login_sec animated fadeIn" id="login_login_sec" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="login_img"> <img src="../../assets/images/login_img.webp" class="d-block" alt="..." /> </div>
        </div>
        <div class="col-md-3">
          <div class="loginfrm">
            <h3 class="mb-5 text-uppercase">Login</h3>
            <form class="login-form">
              <mat-form-field>
                <input matInput type="email" placeholder="Email" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput type='password'  placeholder="Password" required="">
              </mat-form-field>
               
              <div class="form-footer mb-3 mt-3"> <a href="" class="forgotpass small">Forgot Password?</a>
                <div class="float-right">
                  <button mat-button type="submit" color="primary">LOGIN</button>
                </div>
                <div class="mt-5 mb-5"> <span class="orcls">or</span>
                  <hr class="frmhr" />
                </div>
                <div class="sociallogin">
                  <!-- <button mat-button color="primary" (click)="scrollToElement(target,true)">Create a ternster account <i class="far fa-plus-square"></i></button> -->
                  <button mat-button color="primary">Create a ternster account <i class="far fa-plus-square"></i></button>
                  <button mat-button color="primary" class="fbclr">Log in with facebook <i class="fab fa-facebook-square"></i></button>
                  <button mat-button color="primary" class="gmailclr">Log in with Gmail <i class="far fa-envelope"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

