<div class="tern-loader-blur" style="display:block;" *ngIf="isLoading">
    <div class="imgcls"><img src="../../assets/images/loading.webp" /></div>
</div>

<h2 class="text-center text-uppercase tern-bold mb-3">Forgot Password</h2>
<div class="text-center mb-3"><img src="../../../assets/images/forgot.webp" width="100"/></div>
<h6 class="text-center  mb-5">Please enter the email</h6>


    <!-- <form [formGroup]="data.forgotFormData" class="user-form" (ngSubmit)="submitForm(data.forgotFormData)"> -->
    <form [formGroup]="data.forgotFormData" class="user-form">
      <mat-form-field class="w-100 my-3">
            <input matInput placeholder="Email" formControlName="email">
            <!-- <mat-error
                *ngIf="data.forgotFormData.controls.email.hasError('email') && !data.forgotFormData.controls.email.hasError('required')">
                Please enter a valid email address </mat-error>
            <mat-error *ngIf="data.forgotFormData.controls.email.hasError('required')">
                Email is
                <strong>required</strong>
            </mat-error> -->
		</mat-form-field>
        <span style="color: red" *ngIf="isemailValid">Please enter a valid email address </span>
        <span style="color: red" *ngIf="isemail">Email is <strong>required</strong></span>
        <div class="text-center"><button mat-button type="submit" class="btn btn-primary" (click)="submitForm()">SUBMIT</button></div>
    </form>


<!-- <form [formGroup]="data.forgotPassworddialog" class="user-form" (ngSubmit)="forgotPasswordForm(data.forgotPassworddialog)">
    <div fxLayout="column" class="form-field-outer">
        <div class="p-4">
            <mat-form-field class="w-100">
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
        </div>
    </div>
    <button mat-button type="submit" style="left: 40%;" color="primary">Submit</button>
</form> -->