<h1 mat-dialog-title class="text-center tern-bold text-uppercase">
  Add Your Account Details
  <div class="float-right">
    <button class="close-btn" mat-dialog-close>
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
</h1>
<form [formGroup]="accounts_form" (ngSubmit)="onSubmitAccounts()">
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="example-full-width w-100">
      <input
        matInput
        placeholder="Bank Account Number"
        formControlName="account_no"
      />
      <mat-error *ngIf="isFieldValid(accounts_form, 'account_no', 'required')">
        Bank account number is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="isFieldValid(accounts_form, 'account_no', 'pattern')">
        Bank account number is <strong>invaild</strong>
      </mat-error>
      <mat-error
        *ngIf="
          isFieldValid(
            accounts_form,
            'account_no',
            'checkAccountNumberAlreadyExists'
          )
        "
      >
        Bank account number already exists
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width w-100">
      <input
        matInput
        placeholder="Re-Type Bank Account Number"
        formControlName="retype_account_no"
      />
      <mat-error
        *ngIf="
          isFieldValid(accounts_form, 'retype_account_no', 'accountNumberMatch')
        "
      >
        Bank account number not match
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width w-100">
      <input matInput placeholder="IFSC Code" formControlName="ifsc_code" />
      <mat-error *ngIf="isFieldValid(accounts_form, 'ifsc_code', 'required')">
        IFSC code is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="isFieldValid(accounts_form, 'ifsc_code', 'pattern')">
        IFSC code is <strong>invaild</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width w-100">
      <input
        matInput
        placeholder="Receipient Name"
        formControlName="account_holder_name"
      />
      <mat-error
        *ngIf="isFieldValid(accounts_form, 'account_holder_name', 'required')"
      >
        Receipient name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width w-100">
      <input matInput placeholder="Bank Name" formControlName="bank_name" />
      <mat-error *ngIf="isFieldValid(accounts_form, 'bank_name', 'required')">
        Bank name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width w-100">
      <input
        matInput
        placeholder="Bank Address"
        formControlName="bank_address"
      />
      <mat-error
        *ngIf="isFieldValid(accounts_form, 'bank_address', 'required')"
      >
        Bank address is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="select_exchanges m-0" align="center">
    <button mat-button type="submit" class="btn btn-primary">submit</button>
  </mat-dialog-actions>
</form>
