<app-profileheader></app-profileheader>

<div class="content-sec profile-boxsec">
  <div class="container">
    <div class="profile-tab">
      <div class="tern-title prosettings">
        <h4 [class]="profile ? 'active' : ''" routerLinkActive routerLink="/accounts/profile"><img
            src="../../../assets/images/profile-icon.webp" class="proicons" /> <span class="protitcon">Profile</span>
          <span class="bluecirc"></span></h4>
        <h4 [class]="settings ? 'active' : ''" routerLinkActive routerLink="/accounts/settings" id="Settings"><img
            src="../../../assets/images/profile-settings.webp" class="proicons" /> <span
            class="protitcon">Settings</span> <span class="bluecirc"></span></h4>

        <h4 [class]="wallet ? 'active' : ''" routerLinkActive routerLink="/accounts/wallet" id="Wallet"><img
            src="../../../assets/images/wallet-mob.webp" class="proicons" /> <span class="protitcon">Wallet</span> <span
            class="bluecirc"></span></h4>


        <h4 [class]="messages ? 'active' : ''" routerLinkActive routerLink="/accounts/messages" id="Messages"><img
            src="../../../assets/images/profile-message.webp" class="proicons" /> <span class="protitcon">Messages</span>
          <span class="bluecirc"></span></h4>
        <h4 [class]="change_pwd ? 'active' : ''" routerLinkActive routerLink="/accounts/changepassword" id="changepassword"><img
            src="../../../assets/images/change-password.webp" class="proicons" /> <span class="protitcon">Change
            Password</span> <span class="bluecirc"></span></h4>
      </div>
    </div>
    <div class="password-content animated fadeIn" id="change_pwd">
      <div class="text-center grayscale" *ngIf="isLoading">
      <svg width="40" height="40" viewBox="0 0 300 300" class="loadersvg"><defs><linearGradient id="gradient-fill" gradientUnits="userSpaceOnUse" x1="0" y1="300" x2="300" y2="0">
      <stop offset="0%"><animate attributeName="stop-color" values="#00E06B;#CB0255;#00E06B" dur="5s" repeatCount="indefinite"/></stop>
	  <stop offset="100%"><animate attributeName="stop-color" values="#04AFC8;#8904C5;#04AFC8" dur="8s" repeatCount="indefinite"/></stop></linearGradient>
    <clipPath id="clip">
      <rect class="square s1" x="0" y="0" rx="12" ry="12" height="90" width="90"></rect>
      <rect class="square s2" x="100" y="0" rx="12" ry="12" height="90" width="90"></rect>
      <rect class="square s3" x="200" y="0" rx="12" ry="12" height="90" width="90"></rect>
      <rect class="square s4" x="0" y="100" rx="12" ry="12" height="90" width="90"></rect>
      <rect class="square s5" x="200" y="100" rx="12" ry="12" height="90" width="90"></rect>
      <rect class="square s6" x="0" y="200" rx="12" ry="12" height="90" width="90"></rect>
      <rect class="square s7" x="100" y="200" rx="12" ry="12" height="90" width="90"></rect>
    </clipPath>
  </defs>
  <rect class="gradient" clip-path="url('#clip')" height="300" width="300"></rect>
</svg>
      </div>
      <div class="text-center">
        <form [formGroup]="_changePwd" #formDirective="ngForm" (ngSubmit)="changePassword(_changePwd, formDirective)"
          role="form">
          <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
              <mat-form-field class=" w-100 d-block  mb-3">
                <input autocomplete="off" matInput placeholder="Old Password" type="password"
                  formControlName="old_password" required appBlockCopyPaste>
                <mat-error *ngIf="_changePwd.controls.old_password.hasError('required')"> Old Password is
                  <strong>required</strong> </mat-error>
                <mat-error *ngIf="_changePwd.hasError('minlength',['old_password'])"> Password should contain
                  atleast 6 characters. </mat-error>
              </mat-form-field>
              <mat-form-field class=" w-100 d-block  mb-3">
                <input matInput placeholder="New Password" type="password" formControlName="new_password" required
                  appBlockCopyPaste>
                <mat-error *ngIf="_changePwd.controls.new_password.hasError('required')"> Password is
                  <strong>required</strong> </mat-error>
                <mat-error *ngIf="_changePwd.hasError('minlength',['new_password'])"> New Password must be at least 6
                  characters long. </mat-error>
                <!-- <mat-hint *ngIf="pwd_match" class="mat-error ng-star-inserted"> Old Password and new password <strong>are same</strong>
                  </mat-hint>-->
              </mat-form-field>
              <!-- <button mat-button class="btn btn-sm btn-primary default-btn btn_authorize">Authorize</button></td> -->

              <mat-form-field class=" w-100 d-block">
                <input matInput placeholder="Confirm New Password" type="password" formControlName="confirm_password"
                  validateEqual="password" required appBlockCopyPaste>
                <mat-error *ngIf="_changePwd.controls.confirm_password.hasError('required')"> Confirm Password is
                  <strong>required</strong> </mat-error>
                <mat-error *ngIf="_changePwd.hasError('minlength',['confirm_password'])">Confirm Password must be at
                  least 6 characters long. </mat-error>
                <mat-hint *ngIf="pwd_mismatch" style="color: red;" class="mat-error ng-star-inserted"> Confirm Password
                  <strong>does not match</strong></mat-hint>
              </mat-form-field>
              <button mat-button type="submit" [disabled]=!_changePwd.valid class="btn btn-sm btn-primary mt-5">CHANGE
                PASSWORD</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
</div>
<div class=" d-block w-100 city_bg_allpage"></div>