<div class="content-sec py-5">
    <div class="container  mt-5">
    <div class=" termspage animated fadeInUp text-justify">
		 <div class="tern-title">
            <h1>TERMS AND <span>CONDITIONS</span> <span class="bluecirc"></span></h1>
          </div>
          <p>Thank you for visiting our website www.ternster.com and/or App ("<strong>Website</strong>"). This website is owned and operated by ternster Services Pty Ltd (ACN 631 659 348) of 15/30-32 Meehan Street, Granville, NSW 2142 ("<strong>Ternster</strong>"). By accessing and/or using this Website and related services, you agree to these Terms and Conditions, which include our Privacy Policy available at www.ternster.com ("<strong>Terms</strong>"). You should review our Privacy Policy and these Terms carefully and immediately cease using our Website if you do not agree to these Terms. 
In these Terms, 'us', 'we' and 'our' means ternster and our related bodies corporate.
</p>
<h3 class="mt-5">1. Acceptance of Terms </h3>
<p>You accept the Terms by remaining on the Website. You may also accept the Terms by clicking to accept or agree to the Terms where this option is made available to you. ternster has the right to modify the policies, conditions, payments, commissions and Terms.</p>

<h3 class="mt-5">2. Registration </h3>
<p>You may be required to register for an account through the Website (the "Account") before you can access some parts of the Website. 
You may use some parts of the Website without having an account (the "Guest").
As part of the registration process, or as part of your continued use of the Website, you may be required to provide personal information about yourself (such as identification or contact details), including your:
</p>
<ul>
<li>email address</li>
<li>preferred username</li>
<li>telephone number</li>
<li>password</li>
<li>passport or photo identification </li>
<li>address</li>
</ul>
<p>You warrant that any information you provide the Company in the course of completing the registration process will always be accurate, correct and up to date.
You must ensure that this information is accurate and current. We will handle all personal information we collect in accordance with our Privacy Policy.
To create an account, you must:</p>
<ul>
<li>possess the legal right and ability to enter into a legally binding agreement with us; and</li>
<li>agree and warrant to use the Website in accordance with these Terms.</li>
</ul>


<h3 class="mt-5">3. Collection Notice </h3>
<p>We collect personal information about you in order to respond to your enquiry or provide you with further information and for purposes otherwise set out in our Privacy Policy. <br>
<br>

We may disclose that information to third parties that help us deliver our services (including information technology suppliers, communication suppliers and our business partners) or as required by law. If you do not provide this information, we may not be able to provide all of our services to you. We may also disclose your personal information to recipients that are located outside of Australia, including to Blaze Web Services Private Limited located in India. <br>
<br>

Our Privacy Policy explains: (i) how we store and use, and how you may access and correct your personal information; (ii) how you can lodge a complaint regarding the handling of your personal information; and (iii) how we will handle any complaint. If you would like any further information about our privacy policies or practices, please contact us at contact@ternster.com. 
By providing your personal information to us, you consent to the collection, use, storage and disclosure of that information as described in the Privacy Policy and these Terms. 
</p>

<h3 class="mt-5">4. Accuracy, completeness and timeliness of information</h3>
<p>The information on our Website is not comprehensive and is intended to provide a summary of the subject matter covered. Third parties are permitted to post content on our Website. While we use all reasonable attempts to ensure the accuracy and completeness of the information on our Website, to the extent permitted by law, including the Australian Consumer Law, we make no warranty regarding the information on this Website. You should monitor any changes to the information contained on this Website.<br>
<br>

We are not liable to you or anyone else if interference with or damage to your computer systems occurs in connection with the use of this Website or a linked website. You must take your own precautions to ensure that whatever you select for your use from our Website is free of viruses or anything else (such as worms or Trojan horses) that may interfere with or damage the operations of your computer systems.<br>
<br>

We may, from time to time and without notice, change or add to the Website (including the Terms) or the information, products or services described in it. However, we do not undertake to keep the Website updated. We are not liable to you or anyone else if errors occur in the information on the Website or if that information is not up-to-date.
</p>


<h3 class="mt-5">5. Promotions and competitions</h3>
<p>For certain campaigns, promotions or contests, additional terms and conditions may apply. If you want to participate in such a campaign, promotion or contest, you may need to agree to the relevant terms and conditions applicable to that campaign, promotion or contest. In case of any inconsistency between such terms and conditions and these Terms, those terms and conditions will prevail.</p>

<h3 class="mt-5">6.	Obligations of Users</h3>
<p>6.1. You must  comply with the following:</p>
<ul>
<li>you will use the Website only for purposes that are permitted by:
	<ul>
    	<li>the Terms; and</li>
        <li>any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdictions;</li>
    </ul>
</li>
<li>you will not interfere with (or attempt to interfere with) or disrupt (or attempt to disrupt) our site or the servers or networks that host our Website;</li>
<li>you will not use, copy or distribute (or attempt to use, copy or distribute) content without our express permission;</li>
<li>you will not interfere (or attempt to interfere) with any security-related or other features of our Website;</li>
<li>you have the sole responsibility for protecting the confidentiality of your password and/or email address. Use of your password by any other person may result in the immediate cancellation of your registration;</li>
<li>any use of your registration information by any other person, or third parties, is strictly prohibited. You agree to immediately notify the Company of any unauthorised use of your password or email address or any breach of security of which you have become aware;</li>
<li>access and use of the Website is limited, non-transferable and allows for the sole use of the Website by you for the purposes of the Company providing the Services;</li>
<li>you will not use the Website in connection with any commercial endeavours except those that are specifically endorsed or approved by the management of the Company;</li>
<li>you will not use the services or Website for any illegal and/or unauthorised use;</li>
<li>you agree that commercial advertisements, affiliate links, and other forms of solicitation may be removed from the Website without notice and may result in termination of the services. You agree that appropriate legal action will be taken by the Company for any illegal or unauthorised use of the Website; and</li>
<li>you acknowledge and agree that any automated use of the Website or its Services is prohibited.</li>
</ul>

<p>6.2. The following items (the "Prohibited Items") must not be listed on the Website under any circumstance: </p>
<ul>
<li>"Combustible or Toxic items and chemicals" including but not limited to petrol, gasoline, compressed gas, paint, paint thinner, solvents, chemicals, propane, gas, kerosene, compressed gas, lamp oil, any form of motor oil, acid, grease, corrosives, fertiliser, paint, paint thinners, cleaners, chemicals, narcotics, drugs, hazardous, toxic, biological waste or medical supplies;</li>
<li>"Perishable Items" including but not limited to plants, food, fresh food, animal food, produce, meat, fish and other editable items;</li>
<li>"Living things" including but not limited to plants, animals, insects, pets, reptiles, birds and people;</li>
<li>"Illegal or restricted items" including but not limited to narcotics, weapons, ammunition, explosives, fireworks and other restricted or illegal item; </li>
<li>"Dangerous materials" including but not limited to asbestos or products containing asbestos, radioactive materials, medical waste, highly flammable or hazardous goods;</li>
<li>"Unsanitary Items" including but not limited to anything mouldy, muddy, damp, rotten, infested with or damaged by parasites, infested with or damaged by pests, waste products of any kind or any item which emits any fumes or strong odour;</li>
<li>"Valuable items" including but not limited to cash, antiques, security credentials, securities & precious metals;</li>
<li>Any item that in the reasonable opinion of Ten Digital in its absolute discretion is inappropriate because the item may be too large, too heavy, too dirty, dangerous etc. </li>
<li>Any item that would prevent an insurance policy from covering the loss or damage.</li>
</ul>


<h3 class="mt-5">7.	Obligations of the users</h3>
<p>7.1.	The Website enables services including courier services, assistance services,  companion services or travelling services or by a person who requests the facilities offered by the application ("Requester").<br>
<br>
7.2.	The Requester can determine the language for the use of the Website. <br>
<br>

7.3.	Ternster may accept the courier services, assistance services and companion services ("Ternster"). <br>
<br>

7.4.	The Requester must upload accurate images of any package when seeking to utilise the courier services.<br>
<br>

7.5	The Requester must accurately and to the best of their knowledge and belief describe the package and outline all access, security and other conditions. The Requester must disclose this information during the registration process and may update the details. This information may include text, pictures, photographs, location, conditions, limitation, security and the access offered.<br>
<br>

7.6.	It is mandatory for the captured image of the item being sent using the courier service, the item description and the item that's sent as part of the parcel must match on verification. Any discrepancies will result in dishonouring the package for any insurance claims.<br>
<br>

7.7.	It is the Requester's responsibility to claim and pay for any goods withheld by customs or any Government based organisation.<br>
<br>

7.8.	Ternster must thoroughly examine any package when utilising the courier service and may not continue with the services if it does not feel comfortable with the services. In this case, Ternster will not receive any fee and the Requester may receive a refund. <br>
<br>

7.9.	Ternster is not responsible for the goods and takes no ownership of the goods. <br>
<br>

7.10.	The Requester agrees that no booking is confirmed until the fee has been paid in full. This fee is paid in good faith and paid using the online booking system on the Website.<br>
<br>

7.11.	The Requester agrees to make payment for reasonable compensation to cover the cost of repair or replacement of any damage in the unlikely event that damage occurs due in part or whole and not limited to;
</p>
<ul>
<li>a negligent act of the Requester; </li>
<li>an omission of the Requester; </li>
<li>caused in part or in full by the stored goods; or</li>
<li>caused in part or in full by the Requester.</li>
</ul>
<p>
7.12.	The Requester confirms that Ten Digital has recommended that it obtain its own contents insurance or travel insurance for the goods. In the event of a claim to the loss or damage to the goods, the Requester must first claim its own insurance. <br>
<br>

7.13.	At the request of Ternster or Ten Digital, the Requester must remove the goods. The request to remove the goods must be sent to the Requester via phone and/or email and/or mail. The Requester must be given a reasonable amount of time to remove the goods. Ten Digital is not responsible and in no way liable for any cancellation or removal request. <br>
<br>

7.14.	The Requester agrees that Ten Digital or Ternster may search the goods to determine if there are any Prohibited Items.<br>
<br>

7.15.	The Requester agrees that if Ten Digital or Ternster becomes aware of any Prohibited Items being stored, then the Goods can be removed and destroyed. In such events the Requester can make no claim against Ten Digital or Ternster. <br>
<br>

7.16.	The Requester and/or Ternster must reply to all messages, emails and phone calls from Ten Digital or Ternster, as soon as practicable ordinarily within 24 hours.
</p>

<h3 class="mt-5">8.	Payments</h3>
<p>8.1.	Please refer to the cancellation policy which is incorporated into these Terms. </p>
<p>8.2.	As a Requester: </p>
<ul>
<li>where the option is given to you, you may make payment for the services (the "Service Fee") by way of a third-party electronic payment system embedded in the Website. The payment system being used is Stripe ("Stripe") and the user of this system is subject to the Stripe Connected Account Agreement, which includes the Stripe Terms of Service.</li>
<li>all payments made in the course of your use of the services are made using Stripe. In using the Website, the services or when making any payment in relation to your use of the services, you warrant that you have read, understood and agree to be bound by the Stripe terms and conditions which are available on their website.</li>
<li>you acknowledge and agree that where a request for the payment of the Service Fee is returned or denied, for whatever reason, by your financial institution or is unpaid by you for any other reason, then you are liable for any costs, including banking fees and charges, associated with the Service Fee.</li>
<li>the Service Fee for all bookings must be paid using the booking system embedded on the Website. The Requester must never offer or attempt to pay the Service Fee or use of the services with any payment method other than the booking system on the Website. Any breach of this clause may result in any or all of the following;
<ul>
<li>termination of all user accounts who been party to the breach;</li>
<li>all users becoming ineligible to use any service offered by Ten Digital;</li>
</ul>
</li>
</ul>


<p>8.3.	Ternster agrees that:</p>
<ul>
<li>Ten Digital at its sole discretion reserves the right to change or modify the service Fee whenever necessary and without any prior notice.</li>
<li>Ten Digital at its sole discretion can limit to any extent the amount of Services listed on the Website and the minimum and maximum duration of any booking. </li>
<li>Ternster's share of the fee ("Ternster Share") is set by the Requester, Ten Digital or by the Website and excludes any penalties or extra charges that may be applied after the booking has been made. Ten Digital at its sole discretion reserves the right to change the amount allocated to the Ternster Share whenever necessary and without giving any prior notice to the users of the Website.</li>
<li>Ten Digital will not be responsible and liable for any taxes or deductions that Ternster owes due to the earnings that the Ternster makes through from the Ternster Share of the Service Fee. </li>
<li>Ten Digital does not take responsibility for any delays in the transfer of the Ternster Share earnings that have been caused by but not limited to the payment system, Ternster's bank details being inaccurate or a delay caused by a third party.</li>
<li>The Service Fee for all bookings must be paid using the booking system embedded on the Website. Ternster must never solicit or accept payment of the Service Fee via any payment method other than the booking system on the Website.</li>
<li>In Australia, goods and services come with guarantees that cannot be excluded under the Australian Consumer Law. Nothing in these Terms purports to modify or exclude the conditions, warranties and undertakings, and other legal rights, under the Australian Competition and Consumer Act and other laws. Any and all other warranties or conditions which are not guaranteed by the Australian Consumer Law or the Competition and Consumer Regulation 2010 are expressly excluded where permitted, including liability for incidental or consequential damages caused by breach of any express or implied warranty or condition.</li>
</ul>

<h3 class="mt-5">9.	The Services</h3>
<p>There Website contains a number of services including courier, assistance and companion services where anyone can post requests for the services. <br>
<br>

You acknowledge that Ten Digital does not provide transportation or logistics services or function as a transportation carrier and that all such transportation or logistics services are provided by independent third party contractors who are not employed by Ten Digital or any of its affiliates.<br>
<br>

Neither these Terms nor your use of the services convey or grant to you any rights except for the limited license granted above or use or reference in any manner to Ten Digital's company names, logos, product and service names, trademarks or services marks.
</p>


<h3 class="mt-5">10.	Cancellation Policy</h3>
<p>The cancellation policy is as follows:</p>
<table class="table table-bordered table-striped text-center">
  <tr>
    <th>Cancelled by Ternster</th>
    <th>First Cancellation</th>
    <th>Second Cancellation</th>
    <th>Third Cancellation</th>
    <th>Fourth Cancellation</th>
  </tr>
  <tr>
    <td>>7 calendar days prior to Trip Start date</td>
    <td>Deduction of 0.25point in Rating</td>
    <td>Deduction of 0.5 point in Rating</td>
    <td>Deduction of 1 point in Rating</td>
    <td rowspan="2">Permanently Blocked</td>
  </tr>
  <tr>
    <td>7 calendar days to 48 hrs</td>
    <td>Deduction of 0.5 point in Rating</td>
    <td>Deduction of 1 point in Rating</td>
    <td>Blocked for 1 Month</td>
    </tr>
  <tr>
    <td>< 48hrs</td>
    <td>Deduction of 1 point in Rating</td>
    <td>Blocked for 1 Month</td>
    <td colspan="2">Permanently Blocked</td>
    </tr>
</table>


<table class="table table-bordered table-striped text-center">
  <tr>
    <th>Cancelled by Ternster</th>
    <th>First Cancellation</th>
    <th>Second Cancellation</th>
    <th>Third Cancellation</th>
    <th>Fourth Cancellation</th>
  </tr>
  <tr>
    <td>>7 calendar days prior to Trip Start date</td>
    <td>25%</td>
    <td>30%</td>
    <td>50%</td>
    <td rowspan="3">100%</td>
  </tr>
  <tr>
    <td>7 calendar days to 48 hrs</td>
    <td>30%</td>
    <td>50%</td>
    <td>75%</td>
    </tr>
  <tr>
    <td>< 48hrs</td>
    <td colspan="3">100%</td>
    </tr>
</table>


<h3 class="mt-5">11.	Linked sites</h3>
<p>Our Website may contain links to websites operated by third parties. Those links are provided for convenience and may not remain current or be maintained. Unless expressly stated otherwise, we do not endorse and are not responsible for the content on those linked websites and have no control over or rights in those linked websites. </p>

<h3 class="mt-5">12.	Intellectual property rights</h3>
<p>Unless otherwise indicated, we own or license from third parties all rights, title and interest (including copyright, designs, patents, trademarks and other intellectual property rights) in this Website and in all of the material (including all text, graphics, logos, audio and software) made available on this Website (Content). <br>
<br>

Your use of this Website and use of and access to any Content does not grant or transfer any rights, title or interest to you in relation to this Website or the Content. However we do grant you a licence to access the Website and view the Content on the terms and conditions set out in this Agreement and, where applicable, as expressly authorised by us and/or our third party licensors.<br>
<br>

Any reproduction or redistribution of this Website or the Content is prohibited and may result in civil and criminal penalties. In addition, you must not copy the Content to any other server, location or support for publication, reproduction or distribution is expressly prohibited. <br>
<br>

All other use, copying or reproduction of this Website, the Content or any part of it is prohibited, except to the extent permitted by law. 
</p>


<h3 class="mt-5">13.	Unacceptable activity</h3>
<p>You must not do any act that we would deem to be inappropriate, is unlawful or is prohibited by any laws applicable to our Website, including but not limited to:</p>
<ul>
<li>any act that would constitute a breach of the law in the relevant jurisdiction;</li>
<li>any act that would constitute a breach of either the privacy (including uploading private or personal information without an individual's consent) or any other of the legal rights of individuals;</li>
<li>using this Website to defame or libel us, our employees or other individuals;</li>
<li>uploading files that contain viruses that may cause damage to our property or the property of other individuals;</li>
<li>posting or transmitting to this Website any non-authorised material including, but not limited to, material that is, in our opinion, likely to cause annoyance, or which is defamatory, racist, obscene, threatening, pornographic or otherwise or which is detrimental to or in violation of our systems or a third party's systems or network security. </li>
</ul>

<p>If we allow you to post any information to our Website, we have the right to take down this information at our sole discretion and without notice.</p>


<h3 class="mt-5">14.	Warranties and disclaimers</h3>
<p>To the maximum extent permitted by law, including the Australian Consumer Law, we make no warranties or representations about this Website or the Content, including but not limited to warranties or representations that they will be complete, accurate or up-to-date, that access will be uninterrupted or error-free or free from viruses, or that this Website will be secure.<br>
<br>

We reserve the right to restrict, suspend or terminate without notice your access to this Website, any Content, or any feature of this Website at any time without notice and we will not be responsible for any loss, cost, damage or liability that may arise as a result
</p>



<h3 class="mt-5">15.	Liability</h3>
<p>To the maximum extent permitted by law, including the Australian Consumer Law, in no event shall we be liable for any direct and indirect loss, damage or expense, irrespective of the manner in which it occurs, which may be suffered due to your use of our Website and/or the information or materials contained on it, or as a result of the inaccessibility of this Website and/or the fact that certain information or materials contained on it are incorrect, incomplete or not up-to-date.<br>
<br>

To the maximum extent permitted by law, we make no representations or warranties about our Website or the content, including (without limitation) that:</p>

<ul><li>it is complete, accurate, reliable, up-to-date and suitable for any particular purpose; </li>
<li>access will be uninterrupted, error-free or free from viruses; </li>
</ul>
<p>We reserve the right to restrict, suspend or terminate without notice your access to this Website, any Content, or any feature of this Website at any time without notice and we will not be responsible for any loss, cost, damage or liability that may arise as a result. <br>
<br>

You acknowledge that the Website is intended to facilitate the interactions between different parties. We hold no liability to you as a result of any conduct of the members or the misuse of your content by any party.
</p>

<h3 class="mt-5">16.	Indemnity</h3>
<p>To the maximum extent permitted by law, you must indemnify us, and hold us harmless, against any liability suffered or incurred by us arising from or in connection with your use of our Website or any breach of these Terms or any applicable laws by you. This indemnity is a continuing obligation, independent from the other obligations under these Terms, and continues after these Terms end.  It is not necessary for us to suffer or incur any liability before enforcing a right of indemnity under these Terms.
<br>
<br>

You agree to indemnify and hold Ten Digital and its officers, directors, employees and agents harmless from any and all claims, demands, losses, liabilities, and expenses (including lawyers' fees) arising out of or in connection with: (i) your use of the services or services or goods obtained through your use of the services; (ii) your breach or violation of any of these Terms; (iii) Ten Digital's use of your content; or (iv) your violation of the rights of any third party.
</p>

<h3 class="mt-5">17.	Dispute resolution</h3>
<ul>
<li>Any disputes must be raised within 7 calendar days from the end date of the trip. Users failing to launch the dispute within the mentioned stipulated time will result in dishonouring the dispute raised.</li>
<li>If a dispute arises out of or relates to the Terms, either party may not commence any Tribunal or Court proceedings in relation to the dispute, unless the following clauses have been complied with (except where urgent interlocutory relief is sought).</li>
<li>A party to the Terms claiming a dispute ('Dispute') has arisen under the Terms, must give written notice to the other party detailing the nature of the dispute, the desired outcome and the action required to settle the Dispute.</li>
<li>On receipt of that notice ('Notice') by that other party, the parties to the Terms must:</li>
<ul>
<li>within 14 days of the Notice endeavour in good faith to resolve the Dispute expeditiously by negotiation or such other means upon which they may mutually agree;</li>
<li>if for any reason whatsoever, 14 days after the date of the Notice, the Dispute has not been resolved, the parties must either agree upon selection of a mediator or request that an appropriate mediator be appointed by the President of the Australian Mediation Association or his or her nominee;</li>
<li>The parties are equally liable for the fees and reasonable expenses of a mediator and the cost of the venue of the mediation and without limiting the foregoing undertake to pay any amounts requested by the mediator as a pre-condition to the mediation commencing. The Parties must each pay their own costs associated with the mediation;</li>
<li>agree that the mediation will be held in CBD, Sydney New South Wales, Australia.</li>
</ul>
<li>All communications concerning negotiations made by the parties arising out of and in connection with this dispute resolution clause are confidential and to the extent possible, must be treated as "without prejudice" negotiations for the purpose of applicable laws of evidence.</li>
<li>If 1 month has elapsed after the start of a mediation of the Dispute and the Dispute has not been resolved, either party may ask the mediator to terminate the mediation and the mediator must do so.</li>
</ul>


<h3 class="mt-5">18.	Jurisdiction and governing law</h3>
<p>Your use of the Website and these Terms are governed by the law of New South Wales and you submit to the non-exclusive jurisdiction of the courts exercising jurisdiction in New South Wales.</p>
      </div>
    </div>
</div>